.position{
    padding:10px;
    background-color:rgb(119, 177, 224);
    margin:5px;
    border-radius:5px;
    color:white;
    display:flex;
    flex-direction: row;
    align-items:center;
    font-size:medium;
    justify-content:space-between

}
.candidate{
    width: 80vw;
}
.candidate-details{
    width:100%;
    background-color: steelblue;
    font-size: large;
    padding: 2rem;
    color:white;
    text-align: center;
}
.job{
    flex-grow:2;
    padding: 0,5px,0,5px;
}
.reason {
    font-size: small;
}
.applied{
    font-size: small;
}